/* Basic reset for box-sizing */
* {
    box-sizing: border-box;
}

/* Centering content */
body {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
} 
h1 {
    color: #ffffff9a;
}
p {
    color: #ffffff9a;
    font-style: italic;
}
.content {
    text-align: center;
}
#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover entire background */
    z-index: -1;       /* Behind other content */
    filter: blur(2px); /* Apply blur on hover */
}

.Languages {
    color: #ffffff9a
}
/* Styling the button */
button {
    /*margin-top: 100px;*/
    background-color: #ee00ffb6; /* Green background */
    color: white; /* White text */
    padding: 12px 24px; /* Padding */
    font-size: 16px; /* Font size */
    border: none; /* Remove borders */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animation */
}

/* Hover effect */
button:hover {
    background-color: #90009bb6; /* Darker Blue on hover */
    transform: scale(1.05); /* Slightly larger on hover */
}

/* Active effect */
button:active {
    background-color: #74007cb6; /* Even darker Blue when clicked */
    transform: scale(0.95); /* Slightly smaller on click */
}
/* Loading screen styles */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0b006b;
    font-size: 18px;
}

/* Loader animation */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ee00ff; /* Blue loader color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
    
}
/* Spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Main content styling */
#content {
    text-align: center;
    padding: 20px;
}
input {
    color: #ffffff9a;
    background-color: #000000;
}
input[type="text"] {
    color: #ffffff9a;
    background-color: #000000;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #000000;
    width: 250px;
    margin: 10px 0;
}
textarea {
    color: #ffffff9a;
    background-color: #000000;
}
input[type="text"]:focus {
    border-color: #000000; /* Green border when focused */
    outline: none;
}   
